.my-form {
    margin-bottom: 0em;
}
.col-cal, .col-cal .panel-body, .col-cal .panel-body .list-group-item {
    padding: 8px 3px 8px 3px;

}

expense-calendar-day .panel {
    margin-bottom: 0px;
}

expense-calendar-day .list-group-item p, expense-calendar-day-item p {
    margin-bottom: 0px;
}


.col-cal .panel-body {
    padding-top: 3px;
    padding-bottom: 3px;
    /*height: 225px;*/
    height: 15em;
}

.cal-panel {
    margin-left: -8em;
    margin-right: -8em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.truncate-ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Bubbles*/
/* General CSS Setup */

/* CSS talk bubble */
.talk-bubble {
    display: block;
    position: absolute;
    /*left: 15em;*/
    /*top: -4em;*/
    left: 0;
    top: 0;
    width: 14em;
    height: auto;
    background-color: white;
    z-index: 3;
}
.border {
    border: 1px solid #666;
}
.round-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -1em;
    right: auto;
    top: 4.0em;
    bottom: auto;
    border: 0.5em solid;
    border-color: #666 #666 transparent transparent;
    z-index: 4;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -0.7em;
    /*left: -0.5em;*/
    right: auto;
    top: 4.12em;
    bottom: auto;
    border: 0.4em solid;
    border-color: white white transparent transparent;
    z-index: 4;

}

/*Classes for expense pop up in calendar*/
.talk-bubble .panel {
    margin-bottom: 0px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
}

.talk-bubble .panel .panel-heading {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.talk-bubble .panel .panel-body {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.talk-bubble .panel-body {
    height: auto;
}

.talk-bubble .form-group {
    margin-bottom: 5px;
}

.form-group input {
    border-radius: 0px;
}

.form-group textarea {
    border-radius: 0px;
}

.buttons-panel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttons-panel button {
    width: 4em;
}

/*EXPENSE POP-UP FORM IN CALENDAR*/
/*-BASIC STYLE*/
.expense-pop-up.form-control.input-xs {
    display: inline-block;
    padding: 0px 0px 0px 5px;
    width: 100%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    font-size: 10px;
    border-radius: 0px;
}
/*-STYLE AMOUNT ROW IN HEADER*/
/*-- make it white color on the blue bg*/
.expense-pop-up.form-control.input-xs.input-primary {
    background-color: #337AB7;
    color: white;
}
/*-- make it short, so it fits in one row with 'Spent:' label*/
.expense-pop-up.form-control.input-xs.short {
    width: 67%;
}
/*End of classes for expense pop-up in calendar*/



.round-9-down {
    border-radius: 0px 0px 9px 9px;
    -webkit-border-radius: 0px 0px 9px 9px;
    -moz-border-radius: 0px 0px 9px 9px;
}

.round-9-up {
    border-radius: 9px 9px 0px 0px;
    -webkit-border-radius: 9px 9px 0px 0px;
    -moz-border-radius: 9px 9px 0px 0px;
}


/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}
.talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.input-xs {
    display: inline-block;
    padding: 0px;
    height: 14px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    font-size: 10px;
}

textarea {
    resize: none;
}

.new-recommendations-badge {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    background-color: transparent;
    z-index: 2;
}

expense-calendar-day .new-recommendations-badge {
    left: 7.5em;
    top: 1.5em;
}

expense-calendar-selected-day .new-recommendations-badge {
    left: 16.5em;
    top: 1em;
}

.red{
    border-color: red;
}
expense-calendar-selected-day {
    width: 18.5em;
}