<div class = "panel panel-primary">
    <div class = "panel-heading truncate-ellipsis">{{ day.date | date: 'EEE d' }}</div>
    <div class = "new-recommendations-badge">
        <span class="badge progress-bar-danger" ng-show = "getRecommendationsCount(day.date)>0">{{ getRecommendationsCount( day.date) }}</span>
    </div>
    <div class = "panel-body">
        <div class = "list-group">
            <!-- Total spent per day widget -->
            <p>Total Spent: {{ getTotalPerDay( day.date ) }}</p>

            <!-- expenses list start -->
            <expense-calendar-day-item class = "list-group-item small"
                                       ng-repeat = "e in getExpensesForDate( day.date ) track by $index"
                                       ng-mouseleave = "e.labels.isFormShown = false"
                                       ext-e = "e"
                                       id = "{{e._id}}">
            </expense-calendar-day-item>
        </div>
    </div>
</div>