<div class = "row" ng-show = "!user._id">
    <not-logged-in></not-logged-in>
</div>
<div class = "row" ng-show = "user._id">
    <div class = "col-md-12">
        <div class = "panel panel-default">
            <div class = "panel-body">
                <month-selector></month-selector>
            </div>
        </div>
    </div>
    <div class = "col-md-9">
        <expenses-dashboard></expenses-dashboard>
    </div>
    <div class="col-md-3">
        <expense-calendar-selected-day ng-dblclick = "emitExpenseCreateRequest($event, selectedDay)"
                                       ext-day = "selectedDay"
                                       ext-get-total-per-day = "getTotalPerDay(selectedDay.date)"
                                       ext-get-expenses-for-date = "getExpensesForDate(selectedDay.date)"
                                       ext-get-recommendations-count = "getRecommendationsCount(selectedDay.date)"
                                       ext-is-weekend = "isWeekend(selectedDay.date)">
        </expense-calendar-selected-day>
    </div>
    <div class = "col-md-12">
        <div class = "panel panel-default">
            <div class = "panel-body cal-panel">
                <expenses-calendar></expenses-calendar>
            </div>
        </div>
    </div>
</div>


