<!--<div>-->
    <form novalidate class = "row my-form" name = "form" ng-submit = "post()">
        <!--<div class = "row">-->

            <!-- Date -->
            <div class = "col-md-12">
                <div class = "form-group input-group-sm">
                    <label class = "sr-only" for date>Expense date</label>
                    <input id = "input-expense-date"
                           type = "date"
                           name = "date"
                           class = "form-control expense-pop-up"
                           ng-model = "newExpense.date"
                           required = ""/>
                    <div ng-show = "form.date.$error.required ">Date is required</div>
                </div>
            </div>

            <!-- Amount -->
            <div class = "col-md-12">
                <div class = "form-group input-group-sm">
                    <!--<label class = "sr-only" for amount>Expense amount</label>-->
                    <!--<input id = "amount-input"-->
                           <!--type = "number"-->
                           <!--class = "form-control"-->
                           <!--name = "amount"-->
                           <!--placeholder = "enter amount"-->
                           <!--ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"-->
                           <!--step = "0.01"-->
                           <!--ng-model = "newExpense.amount"/>-->
                    <label class="sr-only">Spent: </label>
                    <input id = "input-expense-amount"
                           type = "number"
                           class = "form-control expense-pop-up"
                           name = "amount"
                           placeholder = "enter amount"
                           ng-pattern = "/^[0-9]+(\.[0-9]{1,2})?$/"
                           step = '"0.01'
                           ng-model = "newExpense.amount"/>
                </div>
            </div>
        <!--</div>-->
        <!--<div class = "row">-->
            <!-- Description field -->
            <div class = "col-md-12">
                <!--<div class = "form-group input-group-sm">-->
                    <!--<label class = "sr-only" for description>Expense description</label>-->
                    <!--<input id = "expense-description"-->
                           <!--type = "text"-->
                           <!--class = "form-control"-->
                           <!--name = "description"-->
                           <!--placeholder = "describe the expense"-->
                           <!--ng-model = "newExpense.description"/>-->
                <!--</div>-->
                <div class= "form-group input-group-sm">
                    <label class = "sr-only" for description>Expense description</label>
                    <textarea id = "input-expense-description"
                              rows = 3
                              class = "form-control expense-pop-up"
                              name = "description"
                              placeholder = "describe the expense"
                              ng-model = "newExpense.description">
                    </textarea>
                </div>
            </div>

            <!-- Submit button -->
            <div class = "col-md-12">
                <div class = "form-group input-group-sm">
                    <button type = "submit"
                            class = "btn btn-block btn-success">Post Expense</button>
                </div>
            </div>
        <!--</div>-->
    </form>
<!--</div>-->

