<div>
    <form novalidate class = "col-md-12 my-form" name = "form" ng-submit = "post()">
        <div class = "row">

            <!-- Date -->
            <div class = "col-md-6">
                <div class = "form-group input-group-sm">
                    <label class = "sr-only" for date>Expense date</label>
                    <input id = "date-input"
                           type = "date"
                           name = "date"
                           class = "form-control"
                           ng-model = "obj.date"
                           required = ""/>
                    <div ng-show = "form.date.$error.required ">Date is required</div>
                </div>
            </div>

            <!-- Amount -->
            <div class = "col-md-6">
                <div class = "form-group input-group-sm">
                    <label class = "sr-only" for amount>Expense amount</label>
                    <input id = "amount-input"
                           type = "number"
                           class = "form-control"
                           name = "amount"
                           placeholder = "enter amount"
                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                           step = "0.01"
                           ng-model = "obj.amount"/>
                </div>
            </div>
        <!--</div>-->
        <!--<div class = "row">-->
            <!-- Description field -->
            <div class = "col-md-12">
                <div class = "form-group input-group-sm">
                    <label class = "sr-only" for description>Expense description</label>
                    <input id = "expense-description"
                           type = "text"
                           class = "form-control"
                           name = "description"
                           placeholder = "describe the expense"
                           ng-model = "obj.description"/>
                </div>
            </div>

            <!-- Submit button -->
            <div class = "col-md-12">
                <div class = "form-group input-group-sm">
                    <button type = "submit"
                            class = "btn btn-block btn-success">Post Expense</button>
                </div>
            </div>
        </div>
    </form>
</div>

