<div class = "row">
    <not-logged-in></not-logged-in>
</div>
<div class = "row" ng-show = "user.user">
    <div class = "col-md-12">
        <div class = "panel panel-default">
            <div class = "panel-body">
                <month-selector></month-selector>
            </div>
        </div>
    </div>
    <div class = "col-md-12">
        <div class = "panel panel-default">
            <div class = "panel-body">
                <expense-list></expense-list>
            </div>
        </div>
    </div>
</div>


