<!--<ul class = "list-group">-->
    <!--<p ng-show = "!expenseList.length && user.user">Welcome, {{user.user.public.name.givenName}}. You haven't posted anything in current month. Post your expenses in the form above.</p>-->
    <!--<li ng-show = "expenseList.length && user.user"-->
        <!--class="list-group-item"-->
        <!--ng-repeat = "e in expenseList">-->
        <!--<div class = "row">-->
            <!--<div class = "col-md-4 text-primary">-->
                <!--<p>{{ e.amount }} <span class = "{{ e.currency.className }}"></span></p>-->
            <!--</div>-->
            <!--<div class = "col-md-6"><span class = "{{ e.category.className }}"></span> {{ e.category.name }}</div>-->
            <!--<div class = "col-md-2 text-right">-->
                <!--<span class = "fa fa-trash-o text-danger"-->
                      <!--aria-hidden = "true"-->
                      <!--ng-click = "delete( e._id )">-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class = "row">-->
            <!--<div class = "col-md-4 small">{{ e.date | date : "dd-MMM-yy" : +0300 }}</div>-->
            <!--<div class = "col-md-8 small">{{ e.description }}</div>-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->
<div class = "row">
    <div class = "col-md-4" ng-repeat = "cell in cells track by cell.id">
        <div class = "row">
            <div class = "col-md-4 col-cal small"
                 ng-repeat = "day in cell.cell track by $index">
                <div class = "panel"
                     ng-class = "{'panel-info': isWeekend( day.date ), 'panel-default': !isWeekend( day.date )}"
                     ng-hide ="!day.date">
                    <div class = "panel-heading">{{ day.date.toDateString() }}</div>
                    <div class = "new-recommendations-badge">
                        <span class="badge progress-bar-danger" ng-show = "getRecommendationsCount(day.date)>0">{{ getRecommendationsCount( day.date) }}</span>
                    </div>
                    <div class = "panel-body">
                        <div class = "list-group">
                            <!-- Total spent per day widget -->
                            <p>Total: {{ getTotalPerDay( day.date ) }}</p>

                            <!-- expenses list start -->
                            <div class = "list-group-item small"
                                 ng-click = "showDetails = true"
                                 ng-mouseleave = "showDetails = false"
                                 ng-repeat = "e in getExpensesForDate( day.date ).slice(0,3) track by $index">

                                <!-- expense style when it is Confirmed -->
                                <div class = "row" ng-show = "e.labels.isConfirmed">
                                    <div class = "col-md-3">
                                        <p class="text-muted">{{ e.amount }}</p>
                                    </div>
                                    <div class = "col-md-9">
                                        <p class="text-muted truncate-ellipsis">{{ e.description }}</p>
                                    </div>
                                </div>

                                <!-- expense style if it is Recommended -->
                                <div class = "row" ng-show = "!e.labels.isConfirmed">
                                    <div class="col-md-3">
                                        <p class = "text-primary">{{ e.amount }}</p>
                                    </div>
                                    <div class = "col-md-9">
                                        <p class = "text-primary truncate-ellipsis"> {{ e.description }}</p>
                                    </div>
                                </div>

                                <!-- pop-up with expense details and control buttons shown on click -->
                                <div class="row" ng-show = "showDetails">
                                    <div class="col-md-12">
                                        <div class="talk-bubble tri-right round border left-in">
                                            <div class="panel panel-primary round-up">
                                                <div class="panel-heading round-up">
                                                    <div ng-show = "e.labels.isConfirmed">Spent: {{ e.amount }}</div>
                                                    <div ng-show = "!e.labels.isConfirmed">
                                                        <!--<form class = "form">-->
                                                            <!--<div class = "form-group">-->
                                                                <label class = "sr-only" for = "amount">Spent:</label>
                                                                <input id = "input-amount-{{e._id}}"
                                                                       type = "number"
                                                                       class = "form-control input-xs"
                                                                       name = "amount"
                                                                       placeholder = "enter amount"
                                                                       ng-pattern = "/^[0-9]+(\.[0-9]{1,2})?$/"
                                                                       step = '"0.01'
                                                                       ng-model = "e.amount"/>

                                                            <!--</div>-->
                                                        <!--</form>-->
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div ng-show = "e.labels.isConfirmed">
                                                        <p>{{ e.description }}</p>
                                                    </div>
                                                    <div ng-show = "!e.labels.isConfirmed">
                                                        <div class= "form-group">
                                                            <label class = "sr-only" for description>Expense description</label>
                                                            <textarea id = "expense-description-{{e._id}}"
                                                                      rows = 2
                                                                   class = "form-control input-xs"
                                                                   name = "description"
                                                                   placeholder = "describe the expense"
                                                                   ng-model = "e.description"></textarea>
                                                        </div>
                                                    </div>
                                                    <p class = "text-center buttons-panel" ng-show="!e.labels.isConfirmed">
                                                        <button class = "btn btn-success btn-xs"
                                                                ng-click = "confirm( e )"
                                                        >Confirm</button>
                                                        <button class = "btn btn-danger btn-xs"
                                                                ng-click = "reject( e._id )"
                                                        >Reject</button>
                                                    </p>
                                                    <p class = "text-center buttons-panel" ng-show="e.labels.isConfirmed">
                                                        <button class = "btn btn-danger btn-xs"
                                                                ng-click = "delete( e._id )"
                                                        >Delete</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- block with 'N more' link -->
                            <div class = "list-group-item" ng-show = "getExpensesForDate( day.date ).length > 3">
                                <a type="button" ng-click="">{{ getExpensesForDate( day.date ).length - 3}} more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>