<div class = "row">
    <div class = "col-md-12">
        <div class="panel panel-info">
            <div class = "panel-heading">Daily Expenses volume in current month by day</div>
            <div daily-volumes class = "panel-body"></div>
        </div>
    </div>
    <div class = "col-md-12">
        <div class="panel panel-info">
            <div class = "panel-heading">You spent most volume to</div>
            <div category-volumes class = "panel-body"></div>
        </div>
    </div>
    <div class = "col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">You spent most frequently to</div>
            <div expense-frequency class = "panel-body"></div>
        </div>
    </div>
</div>