<!-- Expenses App page -->
<!-- contains Expense Input Form, and three charts, which are update based on input -->


<!-- ROW 1 -->
<!-- Expense Input Form: { Amount (input field ), Currency (dropdown field), text description (input field), submit (btn) }  -->
<!-- Expenses List, current (selected) Month -->
<!-- Chart 1: Daily expenses volume in current Month: by day. -->
<!-- Chart 4: Daily expense rate in current Month: past and forecast -->
<!-- Chart 3: Most largest categories in current Month -->
<!-- Chart 2: Most frequent categories in current Month -->
<div class = "row">
    <div class="col-md-4">
        <div class = "row">
            <div class = "col-md-12">
                <div class="panel panel-primary">
                    <div class = "panel-heading">Expense Input Form</div>
                    <div class = "panel-body">
                        <expense-input-form></expense-input-form>
                    </div>
                </div>
            </div>
            <div class = "col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Expenses List</div>
                    <div class = "panel-body">
                        <expense-list></expense-list>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="col-md-8">
        <div class = "row">
            <div class = "col-md-12">
                <div class="panel panel-info">
                    <div class = "panel-heading">Daily Expenses volume in current month by day</div>
                    <div class = "panel-body">
                        <chart-1></chart-1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Daily expense rate in current Month: past and forecast</div>
                    <div class = "panel-body">
                        <chart-2></chart-2>
                    </div>
                </div>
            </div>
            <div class = "col-md-12">
                <div class = "row">
                    <div class = "col-md-6">
                        <div class="panel panel-info">
                            <div class = "panel-heading">You spent most volume to</div>
                            <div class = "panel-body">
                                <chart-3></chart-3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">You spent most frequently to</div>
                            <div class = "panel-body">
                                <chart-4></chart-4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


