<div class = "row">
    <!-- block with calendar grid and expenses-->
    <div class = "col-md-4" ng-repeat = "cell in cells track by cell.id">
        <div class = "row">
            <div class = "col-md-4 col-cal small"
                 ng-repeat = "day in cell.cell track by $index">
                <expense-calendar-day ng-dblclick = "emitExpenseCreateRequest($event, day)"
                                      ng-click = "emitDaySelectionRequest( day )"
                                      ng-hide ="!day.date"
                                      ext-day = "day"
                                      ext-get-total-per-day = "getTotalPerDay(day.date)"
                                      ext-get-expenses-for-date = "getExpensesForDate(day.date)"
                                      ext-get-recommendations-count = "getRecommendationsCount(day.date)"
                                      ext-is-weekend = "isWeekend(day.date)"
                                      ext-selected-day = "selectedDay">
                </expense-calendar-day>
            </div>
        </div>
    </div>
</div>