<!-- expense style when it is Confirmed -->
<div class = "row"
     ng-show = "e.labels.isConfirmed"
     ng-click = "emitExpenseFormViewRequest($event, e)">
    <div class = "col-md-12">
        <p class="text-muted truncate-ellipsis">{{ e.amount }}  {{ e.description }}</p>
    </div>
</div>

<!-- expense style if it is Recommended (or Planned, which is the same) -->
<div class = "row"
     ng-show = "!e.labels.isConfirmed"
     ng-click = "emitExpenseFormViewRequest($event, e)">
    <div class="col-md-12">
        <p class = "text-primary truncate-ellipsis">{{ e.amount }}  {{ e.description }}</p>
    </div>
</div>

<!-- pop-up with expense details and control buttons shown on click when Expens is NOT Confirmed-->
<expense-calendar-day-item-form ng-style = "{position: 'absolute', left: popup.position.left , top: popup.position.top}"
                                ng-dblclick = "$event.stopPropagation()"
                                ng-show = "e.labels.isFormShown"
                                ext-e = "e">
</expense-calendar-day-item-form>
