<!-- expense style when it is Confirmed -->
<div class = "row"
     ng-show = "e.labels.isConfirmed && !e.labels.isSelectedDayFormShown"
     ng-click = "emitExpenseFormViewRequest($event, e, '<expense-calendar-day-item>')">
    <div class = "col-md-12">
        <p class="text-muted truncate-ellipsis">{{ e.amount }}  {{ e.description }}</p>
    </div>
</div>

<!-- expense style if it is Recommended (or Planned, which is the same) -->
<div class = "row"
     ng-show = "!e.labels.isConfirmed && !e.labels.isSelectedDayFormShown"
     ng-click = "emitExpenseFormViewRequest($event, e, '<expense-calendar-selected-day-item>')">
    <div class="col-md-12">
        <p class = "text-primary truncate-ellipsis">{{ e.amount }}  {{ e.description }}</p>
    </div>
</div>

<!-- pop-up with expense details and control buttons shown on click when Expens is NOT Confirmed-->
<expense-calendar-selected-day-item-form ng-dblclick = "$event.stopPropagation()"
                                         ng-show = "e.labels.isSelectedDayFormShown"
                                         ext-e = "e">
</expense-calendar-selected-day-item-form>