<div class = "row" ng-show = "!user.user">
        <not-logged-in></not-logged-in>
</div>
<div class = "row" ng-show = "user.user">
    <div class = "col-md-12">
        <div class = "panel panel-default">
            <div class = "panel-body">
                <div class = "row">
                    <div class = "col-md-12">
                        <div class = "btn-toolbar" role = "toolbar" aria-label="...">
                            <div class = "btn-group" role = "group" aria-label="...">
                                <div class = "btn-group"
                                     ng-repeat = "month in date.months track by $index">
                                    <button class = "btn btn-sm"
                                            ng-class = "month.isSelected ? 'btn-primary' : 'btn-default'"
                                            ng-click = "selectMonth( $event, month )">
                                        {{ month | date : 'MMM-yy' : '+0300' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class = "row">
            <div class = "col-md-12">
                <div class="panel panel-primary">
                    <div class = "panel-heading">Expense Input Form</div>
                    <div class = "panel-body">
                        <expense-input-form></expense-input-form>
                    </div>
                </div>
            </div>
            <div class = "col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Expenses List</div>
                    <div class = "panel-body">
                        <expense-list></expense-list>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="col-md-5">
        <expenses-dashboard></expenses-dashboard>
    </div>
</div>


