<!-- pop-up with expense details and control buttons shown on click when Expens is NOT Confirmed-->
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <div class="checkbox">
                <label><input type="checkbox"
                              ng-model="e.labels.isConfirmed"
                              name="isConfirmed"
                              value = "true"
                              ng-true-value="false"
                              ng-false-value="true"
                              ng-change="string">  Only planned?
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Expense Amount -->
            <label class="sr-only">Spent:</label>
            <input id = "input-amount-{{e._id}}"
                   type = "number"
                   class = "form-control"
                   name = "amount"
                   placeholder = "enter amount"
                   ng-pattern = "/^[0-9]+(\.[0-9]{1,2})?$/"
                   step = '"0.01'
                   ng-model = "e.amount"/>
        </div>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
        <div class = "col-md-12">
            <!-- Expense description -->
            <label class = "sr-only">Expense description</label>
            <textarea id = "expense-description-{{e._id}}"
                      rows = "3"
                      class = "form-control"
                      name = "description"
                      placeholder = "describe the expense"
                      ng-model = "e.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <p class = "text-center buttons-panel">
                <button class = "btn btn-success btn-xs"
                        ng-click = "emitExpenseConfirmRequest( e )"
                >Save</button>
                <button class = "btn btn-danger btn-xs"
                        ng-click = "emitExpenseDeleteRequest( e._id )"
                >Delete</button>
            </p>
        </div>
    </div>


</div>