<div class = "row">
    <div class = "col-md-12">
        <div class="panel panel-info">
            <div class = "panel-heading">Daily Expenses volume in current month by day</div>
            <daily-volumes id = "dailyVolumes" class = "panel-body"></daily-volumes>
            <!--<div class = "panel-body">-->
                <!--&lt;!&ndash;<div id = "dailyVolumes"></div>&ndash;&gt;-->

            <!--</div>-->
        </div>
    </div>
    <div class = "col-md-12">
        <div class="panel panel-info">
            <div class = "panel-heading">You spent most volume to</div>
            <category-volumes id = "categoryVolumes" class = "panel-body"></category-volumes>
        </div>
    </div>
    <div class = "col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">You spent most frequently to</div>
            <expense-frequency id = "expenseFrequency" class = "panel-body"></expense-frequency>
        </div>
    </div>
</div>