<div class = "row" ng-show = "!state.user._id">
    <not-logged-in></not-logged-in>
</div>
<div class = "row" ng-show = "state.user._id">
    <div class="col-md-12 spinner"
         ng-show = "state.isCommandProcessing">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
    <div class="col-md-12">
        <message-form ext-message = "view.expensePoster"></message-form>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-3">
                <p class="text-center">
                    <i class="fa fa-telegram fa-2x"
                       ng-class = "{'text-primary': state.payloadType == 0, 'text-muted': state.payloadType != 0}"
                       ng-click = "$emit('clicked::payloadType', {type: 0})"
                       aria-hidden="true"></i>
                </p>
                <p class="text-center">
                    <i class="fa fa-{{state.user.public.settings.defaults.currency.toLowerCase()}} fa-2x"
                       ng-class = "{'text-primary': state.payloadType == 1, 'text-muted': state.payloadType != 1}"
                       ng-click = "$emit('clicked::payloadType', {type: 1})"
                       aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-md-9">
                <month-switch ext-month-switch = "view.monthSwitch"></month-switch>
            </div>
        </div>
    </div>
    <div class = "col-md-10" style = "padding-left: 0px">
        <calendar ext-calendar = "view.calendarView"></calendar>
    </div>
    <div class = "col-md-12">
        <ctx-menu ext-ctx-menu = "view.ctxMenuView"></ctx-menu>
    </div>
</div>


