<!-- pop-up with expense details and control buttons shown on click when Expens is NOT Confirmed-->
<div class="row" ng-show = "self.html.isShown" ng-style = "self.html.style">
    <div class="form-group">
        <div class="col-md-12">
            <div class="talk-bubble tri-right border round-10"
                 ng-class = "{'left-in': self.html.isLastDayOfWeekSelected() === false, 'right-in': self.html.isLastDayOfWeekSelected() === true}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <!-- Expense Amount -->
                        <label class="small">Spent:</label>
                        <input id = "input-amount"
                               type = "number"
                               class = "expense-pop-up input-xs form-control input-primary short"
                               name = "amount"
                               placeholder = "{{self.html.amount.placeholder}}"
                               ng-pattern = "/^[0-9]+(\.[0-9]{1,2})?$/"
                               step = '"0.01'
                               ng-model = "self.html.amount.value"/>
                    </div>
                    <div class="panel-body">
                        <!-- Expense description -->
                        <label class = "sr-only">Expense description</label>
                        <textarea id = "expense-description-{{e._id}}"
                                  rows = "3"
                                  class = "expense-pop-up input-xs form-control "
                                  name = "description"
                                  placeholder = "{{self.html.description.placeholder}}"
                                  ng-model = "self.html.description.value"></textarea>
                        <div class="checkbox">
                            <label class="small">
                                <input type="checkbox"
                                          ng-model="self.html.isPlanned"
                                          name="isPlanned"
                                          value = "true"
                                          ng-true-value="true"
                                          ng-false-value="false"
                                          ng-change="string">  Future Budget?
                            </label>
                        </div>
                        <p class = "text-center buttons-panel">
                            <button class = "btn btn-success btn-xs"
                                    ng-click = "$emit('clicked::item::btn',{btn: 'save', form: self})"
                            >Save</button>
                            <button class = "btn btn-danger btn-xs"
                                    ng-click = "$emit('clicked::item::btn',{btn: 'delete', form: self})"
                            >Delete</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>