<div class = "row">
    <div class = "col-md-12" ng-repeat = "m in self.months track by $index">
        <div class = "panel" ng-class = "{'panel-primary': m.html.isSelected, 'panel-default': !m.html.isSelected}"
             ng-click = "$emit('clicked::month', {month: m, index: $index})">
            <div class = "panel-body"
                 ng-mouseenter = "$index === 0 || $index === 5 ? isHover = true : isHover = false"
                 ng-mouseleave = "isHover = false">
                <div style = "height: 2.5em;">
                    <h4 class="text-center" ng-class = "{'text-muted': !m.html.isSelected}">{{m.html.formattedMonth}}</h4>
                </div>
                <div style="height: 2.5em">
                    <progress ext-progress = "m.html" ng-show = "m.html.isSelected"></progress>
                    <p class="text-muted text-center" ng-show = "!m.html.isSelected">
                        {{m.html.all() | number : 0}}
                        <i class="fa fa-rub" aria-hidden="true"></i>
                    </p>
                </div>
                <div style = "height: 5em; position: absolute; top: -34%; left: 42%; z-index: 1" ng-if = "$index === 0" ng-show = "isHover">
                    <div style = "height: 1.5em"></div>
                    <p class="text-center"
                       ng-class = "{'text-primary': isHoverIcon, 'text-muted': !isHoverIcon}">
                        <i class="fa fa-chevron-up fa-2x"
                           ng-mouseenter = "isHoverIcon = true"
                           ng-mouseleave = "isHoverIcon = false"
                           aria-hidden="true"></i>
                    </p>
                    <div style = "height: 1.5em"></div>
                </div>
                <div style = "height: 5em; position: absolute; top: 66%; left: 42%; z-index: 1" ng-if = "$index === 5" ng-show = "isHover">
                    <div style = "height: 1.5em"></div>
                    <p class="text-center"
                       ng-class = "{'text-primary': isHoverIcon, 'text-muted': !isHoverIcon}">
                        <i class="fa fa-chevron-down fa-2x"
                           ng-mouseenter = "isHoverIcon = true"
                           ng-mouseleave = "isHoverIcon = false"
                           aria-hidden="true"></i>
                    </p>
                    <div style = "height: 1.5em"></div>
                </div>
            </div>
        </div>
    </div>
</div>