<div class = "row">
    <div class="col-md-12">
        <p class="text-center"
           ng-class = "{'text-primary': isHoverIcon, 'text-muted': !isHoverIcon}">
            <i class="fa fa-chevron-up fa-2x"
               ng-mouseenter = "isHoverIcon = true"
               ng-mouseleave = "isHoverIcon = false"
               ng-click = "$emit('clicked::chevron', {monthSwitch: self, step: -2})"
               aria-hidden="true"></i>
        </p>
    </div>
    <div class = "col-md-12" ng-repeat = "m in self.months.slice(self.html.window[0], self.html.window[1])  track by $index">
        <ctx-menu-btn ext-ctx-menu = "m.ctxMenu"
                      ng-show = "true"></ctx-menu-btn>
        <div class = "panel" ng-class = "{'panel-primary': m.html.isSelected, 'panel-default': !m.html.isSelected}"
             ng-click = "$emit('clicked::month', {month: m, index: $index})">
            <div class = "panel-body"
                 ng-mouseenter = "$index === 0 || $index === 5 ? isHover = {'chevron': true, 'context': true} : isHover = {'chevron': false, 'context': true}"
                 ng-mouseleave = "isHover = {'chevron': false, 'context': false}">

                <div style = "height: 2.5em;">
                    <h4 class="text-center" ng-class = "{'text-muted': !m.html.isSelected}">{{m.html.formattedMonth}}</h4>
                </div>
                <div style="height: 2.5em">
                    <p class="text-muted text-center" ng-show = "!m.html.isSelected && self.state.payloadType === 1">
                        {{m.html.all() | number : 0}}
                        <i class="fa fa-{{self.html.currency}}" aria-hidden="true"></i>
                    </p>
                    <progress ext-progress = "m.html" ng-show = "m.html.isSelected && self.state.payloadType === 1"></progress>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-12">
        <p class="text-center"
           ng-class = "{'text-primary': isHoverIcon, 'text-muted': !isHoverIcon}">
            <i class="fa fa-chevron-down fa-2x"
               ng-mouseenter = "isHoverIcon = true"
               ng-mouseleave = "isHoverIcon = false"
               ng-click = "$emit('clicked::chevron', {monthSwitch: self, step: 2})"
               aria-hidden="true"></i>
        </p>
    </div>
</div>