<div class = "center-block">
    <div class="alert alert-danger" role="alert">
        <p>You are not logged in. Sign up, or Log in with your favourite social network account&#160&#160&#160
            <a class="fa fa-google-plus-square fa-2x text-danger"
               href="/browser/auth/google"
               ng-show = "!state.user._id"
               aria-hidden="true"></a>
            <a class="fa fa-facebook-square fa-2x text-primary"
               href="/browser/auth/facebook"
               ng-show = "!state.user._id"
               aria-hidden="true"></a>
        </p>
    </div>
</div>